{% extends "sweet_market_place18_app/base.html" %}

{% block content %}
    <div class="container">
        <h2 style="text-align: center;
            font-size: 70px;
            font-weight: 700;
            text-transform: none;
            font-style: normal;
            text-decoration: none;
            line-height: 1em;
            letter-spacing: -3px;
            margin-top: 50px;
            margin-bottom: 50px;">Products
        </h2>
        <div class="row">
            {% for product in products_list %}
                <div class="col-6 my-4">
                    <div class="card">
                        <img src="{{ product.image.url }}" alt="{{ product.name }} Image">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                        <p class="card-text">Price: {{ product.price }} euro</p>
                        <a href="#">
                            <button class="btn-custom spaced-top-2">See details</button>
                        </a>
                        {% if user.is_authenticated %}
                            <a href="#">
                                <button class="btn-custom-reverse spaced-top-2">Add to cart</button>
                            </a>
                        {% endif %}
                    </div>
                </div>

                {% if forloop.counter|divisibleby:2 and not forloop.last %}
                    </div></div><div class="container"><div class="row">
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
