

.navbar{
    background-color: #AC1E44 !important;
}

.logout-button{
    background-color: #AC1E44;
    border:#AC1E44;
}

.heading-title {
    color: #000000;
    font-size: 88px;
    font-weight: 700;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 1em;
    letter-spacing: -4px;
    align-items: center;
}

.spaced-top-5 {
    margin-top: 5em;
}

.spaced-top-2 {
    margin-top: 2em;
}

.btn-custom {
    font-weight: bold;
    background-color: #AC1E44;
    padding: 10px 40px;
    border: 2px solid #AC1E44;
    color: #FFFFFF;
}

.btn-custom:hover {
    background-color: #FFFFFF;
    color: #AC1E44;
}

.btn-custom-reverse {
    font-weight: bold;
    background-color: #FFFFFF;
    padding: 10px 40px;
    border: 2px solid #AC1E44;
    color: #AC1E44;
}

.btn-custom-reverse:hover {
    background-color: #AC1E44;
    color: #FFFFFF;
}

.brand-logo {
    color: #FFFFFF;
    font-size: 1.6em;
    font-weight: bold;
}

